In [79]:
%logstop
%logstart -rtq ~/.logs/dw.py append
import seaborn as sns
sns.set()

In [ ]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [2]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

--2021-05-16 18:28:00--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.216.226.144
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.216.226.144|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19011654 (18M) [text/csv]
Saving to: ‘./dw-data/201701scripts_sample.csv.gz’

201701scripts_sampl 100%[===================>]  18.13M  73.9MB/s    in 0.2s

2021-05-16 18:28:01 (73.9 MB/s) - ‘./dw-data/201701scripts_sample.csv.gz’ saved [19011654/19011654]

--2021-05-16 18:28:02--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.217.37.20
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.217.37.20|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18768259 (18M) [text/csv]
Saving to: ‘./dw-data/201606scripts_sample.csv.gz’

201606scripts_sampl 100%[===================>]  17.90M   102MB/s    in 0.2s

2021-05-16 18:28:02 (102 MB/s) - ‘./dw-data/201606scripts_sample.csv.gz’ saved [18768259/18768259]

--2021-05-16 18:28:02--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.216.226.144
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.216.226.144|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 333225 (325K) [application/x-gzip]
Saving to: ‘./dw-data/practices.csv.gz’

practices.csv.gz    100%[===================>] 325.42K  --.-KB/s    in 0.04s

2021-05-16 18:28:03 (8.90 MB/s) - ‘./dw-data/practices.csv.gz’ saved [333225/333225]

--2021-05-16 18:28:03--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.216.226.144
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.216.226.144|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31829 (31K) [application/x-gzip]
Saving to: ‘./dw-data/chem.csv.gz’

chem.csv.gz         100%[===================>]  31.08K  --.-KB/s    in 0.009s

2021-05-16 18:28:03 (3.44 MB/s) - ‘./dw-data/chem.csv.gz’ saved [31829/31829]

## Loading the data

Similar to the `pw` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a pandas `DataFrame` by making use of the `pd.read_csv` function to parse the data into a `DataFrame`. You may want to check the pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [`pw` miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [ ]:
import pandas as pd
import numpy as np

In [3]:
import pandas as pd
import numpy as np

In [4]:
# load the 2017 data
scripts = pd.read_csv('./dw-data/201701scripts_sample.csv.gz',compression='gzip')
#scripts.head()

In [44]:
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
practices = pd.read_csv('./dw-data/practices.csv.gz',compression='gzip',names=col_names)

practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [4]:
   # scripts.rename(columns={'practice':'code'})
scripts.nunique()

NameError: name 'scripts' is not defined

In [6]:
chem = pd.read_csv('./dw-data/chem.csv.gz')#,compression = 'gzip')
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `pw` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `pw` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `pw` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: `[('act_cost', (total, mean, std, q25, median, q75)), ...]`

In [11]:
def summary(key):
    total=scripts[key].sum()
    mean = scripts[key].mean()
    std = scripts[key].std()
    q25,q75 = np.percentile(scripts[key], [25, 75])
    median = scripts[key].median()
    
    return (total, mean, std, q25, median, q75)
summary_stats = [('items', summary('items')),
           ('quantity', summary('quantity')),
           ('nic', summary('nic')),
           ('act_cost', summary('act_cost'))]

print(summary_stats)

[('items', (8888304, 9.133135976111625, 29.204198282803603, 1.0, 2.0, 6.0)), ('quantity', (721457006, 741.3298348837282, 3665.426958467915, 28.0, 100.0, 350.0)), ('nic', (71100424.84000002, 73.05891517920908, 188.070256906825, 7.8, 22.64, 65.0)), ('act_cost', (66164096.11999999, 67.98661326170655, 174.40170332301963, 7.33, 21.22, 60.67))]

In [14]:
summary_stats = [('items', (0,) * 6), ('quantity', (0,) * 6), ('nic', (0,) * 6), ('act_cost', (0,) * 6)]

In [12]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score: 1.000
==================

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [35]:
groupby_bnf_name=scripts.groupby('bnf_name')
max_=groupby_bnf_name['items'].sum().max()
max_bnf_name=groupby_bnf_name['items'].sum().idxmax()                          
print(max_, max_bnf_name)

218583 Omeprazole_Cap E/C 20mg

In [39]:
def most_common_item_bnf(scripts):
    groupby_bnf_name=scripts.groupby('bnf_name')
    max_=groupby_bnf_name['items'].sum().max()
    max_bnf_name=groupby_bnf_name['items'].sum().idxmax()                          
    print(max_bnf_name,max_)
    return (max_bnf_name,max_)

In [40]:
most_common_item = [most_common_item_bnf(scripts)]

Omeprazole_Cap E/C 20mg 218583

In [41]:
grader.score.dw__most_common_item(most_common_item)

==================
Your score: 1.000
==================

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the `pw` miniproject).

In [ ]:
	code	name	addr_1	addr_2	borough	village	post_code
7	A81008	ALBERT HOUSE CLINIC	LOW GRANGE HEALTH VILLAGE	NORMANBY ROAD	MIDDLESBROUGH	CLEVELAND	TS6 6TD
11414	A81008	ALBERT HOUSE CLINIC	SOUTH GRANGE MEDICAL CTR.	TRUNK ROAD ESTON	MIDDLESBROUGH	CLEVELAND	TS6 9QG

In [7]:
#NOTE: Some practices have multiple postal codes associated with them. Use the alphabetically first postal code
practice_new = practices.sort_values('post_code').groupby('code').first().reset_index()

In [8]:
joined_data = scripts.merge(practice_new[['code','post_code']],how='left',left_on='practice',right_on='code')[['bnf_name','items','post_code']]

In [9]:
itemsby_bnfby_post = joined_data.groupby(['post_code','bnf_name']).sum().reset_index()

In [59]:
max_item_inpost

                                     bnf_name  items
post_code
B11 4BW    Salbutamol_Inha 100mcg (200 D) CFF    706
B12 9LP                     Paracet_Tab 500mg    425
B18 7AL    Salbutamol_Inha 100mcg (200 D) CFF    556
B21 9RY               Metformin HCl_Tab 500mg   1033
B23 6DJ      Lansoprazole_Cap 30mg (E/C Gran)    599
...                                       ...    ...
WS3 3JP                     Paracet_Tab 500mg    789
WS9 8AJ                    Amlodipine_Tab 5mg    396
WV13 2DR   Salbutamol_Inha 100mcg (200 D) CFF    809
YO11 1UB              Omeprazole_Cap E/C 20mg    847
YO16 4LZ              Aspirin Disper_Tab 75mg   1194

[259 rows x 2 columns]

In [23]:
max_item_inpost = itemsby_bnfby_post.sort_values('items',ascending=False).groupby('post_code').first()

In [52]:
total_items_inpost = itemsby_bnfby_post.groupby('post_code')['items'].sum()

In [57]:
dispenced = max_item_inpost['items']/total_items_inpost

In [75]:
max_item_despencedinpost=max_item_inpost

In [78]:
max_item_despencedinpost['items']=dispenced

In [101]:
max_item_despencedinpost

                                     bnf_name     items
post_code
B11 4BW    Salbutamol_Inha 100mcg (200 D) CFF  0.031059
B12 9LP                     Paracet_Tab 500mg  0.024893
B18 7AL    Salbutamol_Inha 100mcg (200 D) CFF  0.027111
B21 9RY               Metformin HCl_Tab 500mg  0.033294
B23 6DJ      Lansoprazole_Cap 30mg (E/C Gran)  0.021384
...                                       ...       ...
WS3 3JP                     Paracet_Tab 500mg  0.021388
WS9 8AJ                    Amlodipine_Tab 5mg  0.016174
WV13 2DR   Salbutamol_Inha 100mcg (200 D) CFF  0.022237
YO11 1UB              Omeprazole_Cap E/C 20mg  0.029712
YO16 4LZ              Aspirin Disper_Tab 75mg  0.022174

[259 rows x 2 columns]

In [122]:
items_by_region = [((i[0],i[1],i[2])) for i in max_item_despencedinpost.itertuples()][:100]

In [124]:
grader.score.dw__items_by_region(items_by_region)

==================
Your score: 1.000
==================

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [14]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

In [16]:
opioids_code=chem[chem['NAME'].str.contains('|'.join(opioids), case=False)]["CHEM SUB"].unique()
opioids_code

array(['0104020D0', '0104020N0', '0309010C0', '0309010N0', '0309010S0',
       '0309020AC', '0407010F0', '0407010M0', '0407010N0', '0407010R0',
       '0407010T0', '0407010V0', '0407020AD', '0407020AE', '0407020AF',
       '0407020A0', '0407020B0', '0407020C0', '0407020E0', '0407020G0',
       '0407020K0', '0407020M0', '0407020N0', '0407020P0', '0407020Q0',
       '0407020V0', '0407020Z0', '040702010', '040702020', '0409010A0',
       '0410030A0', '0410030C0', '0704050G0', '1501043F0', '1502010Z0'],
      dtype=object)

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [17]:
scripts['opioids'] = scripts['bnf_code'].isin(opioids_code)

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [18]:
opioids_per_practice = scripts.groupby('practice')['opioids'].mean()

In [19]:
opioids_per_practice

practice
A81005    0.033179
A81007    0.043329
A81011    0.046556
A81012    0.042793
A81017    0.038140
            ...
Y05570    0.090909
Y05583    0.000000
Y05597    0.000000
Y05660    0.023055
Y05670    0.000000
Name: opioids, Length: 856, dtype: float64

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [20]:
relative_opioids_per_practice = opioids_per_practice - scripts['opioids'].mean() 
relative_opioids_per_practice

practice
A81005   -0.002624
A81007    0.007526
A81011    0.010753
A81012    0.006990
A81017    0.002337
            ...
Y05570    0.055106
Y05583   -0.035803
Y05597   -0.035803
Y05660   -0.012748
Y05670   -0.035803
Name: opioids, Length: 856, dtype: float64

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [22]:
standard_error_per_practice = np.sqrt(scripts['opioids'].var()/scripts['practice'].value_counts())
opioid_scores = relative_opioids_per_practice/standard_error_per_practice

In [23]:
opioid_scores=pd.DataFrame(opioid_scores, columns=[ 'z-score'])

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_code, practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [33]:
scripts.groupby('practice').head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,opioids
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,False
...,...,...,...,...,...,...,...,...
971518,H81615,0101010C0,Alu-Cap_Cap 475mg,1,13.71,12.70,120,False
971519,H81615,0101010G0,Maalox_Susp 195mg/220mg/5ml S/F,1,3.35,3.11,500,False
971520,H81615,0101010I0,Mag Ox_Cap 160mg,1,119.70,110.83,180,False
971521,H81615,0101021B0,Sod Algin/Pot Bicarb_Susp S/F,3,15.36,14.25,1500,False
971522,H81615,0101021B0,Sod Alginate/Pot Bicarb_Tab Chble 500mg,1,3.07,2.85,60,False

In [43]:
uni_name=practices.groupby('code')['name'].min()

In [49]:
opioid_scores.reset_index()

      index   z-score
0    A81005 -0.548306
1    A81007  1.544557
2    A81011  2.291795
3    A81012  1.373060
4    A81017  0.583168
..      ...       ...
851  Y05570  1.391142
852  Y05583 -1.019657
853  Y05597 -0.817544
854  Y05660 -1.278102
855  Y05670 -0.667522

[856 rows x 2 columns]

In [46]:
uni_name = pd.DataFrame(uni_name).reset_index()
uni_name

         code                                    name
0      A81001                     THE DENSHAM SURGERY
1      A81002              QUEENS PARK MEDICAL CENTRE
2      A81003               VICTORIA MEDICAL PRACTICE
3      A81004                 BLUEBELL MEDICAL CENTRE
4      A81005                      SPRINGWOOD SURGERY
...       ...                                     ...
10838  Y05758                     VC SKELMERSDALE UCC
10839  Y05762                  WEST MERTON ACCESS HUB
10840  Y05763           ELY LOCAL URGENT CARE SERVICE
10841  Y05764                     MINOR INJURIES UNIT
10842  Y05771  URGENT CARE CENTRE NORTHWICK PARK HOSP

[10843 rows x 2 columns]

In [63]:
scripts['practice'].value_counts().reset_index()

      index  practice
0    N83028      2844
1    L83100      2797
2    D81043      2459
3    B81008      2396
4    B81026      2347
..      ...       ...
851  Y03179         1
852  Y03010         1
853  Y05366         1
854  C85617         1
855  Y01174         1

[856 rows x 2 columns]

In [54]:
number_of_scripts = scripts['practice'].value_counts().reset_index()
number_of_scripts

NameError: name 'scripts' is not defined

In [67]:
anomalies = (uni_name.merge(opioid_scores.reset_index(),left_on='code',right_on='index')[['code','name','z-score']]).merge(number_of_scripts,left_on='code',right_on='index'   )[['code','name','z-score','practice']]

In [75]:
for i in anomalies.sort_values('z-score',ascending=False).itertuples():
    print(len(i))
    print(i[1:])
    break

5
('Y01852', 'NATIONAL ENHANCED SERVICE', 11.695817862936027, 7)

In [74]:
anomalies.loc[714]

code                           Y01852
name        NATIONAL ENHANCED SERVICE
z-score                       11.6958
practice                            7
Name: 714, dtype: object

In [76]:
#unique_practices = ...
anomalies = [i[1:] for i in anomalies.sort_values('z-score',ascending=False).itertuples() ] [:100]

In [77]:
grader.score.dw__script_anomalies(anomalies)

==================
Your score: 1.000
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the growth rate in prescription rate from June 2016 to January 2017 for each `bnf_name`. The growth is defined as

$$
\text{growth rate} = \frac{x_1 - x_0}{x_0},
$$
where $x_1$ is the current value and $x_0$ is the previous value.


We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative growth rate) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [29]:
import pandas as pd
import numpy as np
scripts16 = pd.read_csv('./dw-data/201606scripts_sample.csv.gz')
scripts17 = pd.read_csv('./dw-data/201701scripts_sample.csv.gz')

In [30]:
scripts16=scripts16[['bnf_name','items']].groupby('bnf_name').count().reset_index()

In [31]:
scripts17=scripts17[['bnf_name','items']].groupby('bnf_name').count().reset_index()

In [20]:
joined

,bnf_name,scripts16_count,scripts17_count,growth_rate
0,365 Non Adherent 10cm x 10cm Pfa Plas Fa,3,3,0.000000
1,365 Transpt Island 8.5cm x 15.5cm VP Adh,1,1,0.000000
2,3m Health Care_Cavilon Durable Barrier C,825,816,-0.010909
3,3m Health Care_Cavilon No Sting 1ml Barr,231,223,-0.034632
4,3m Health Care_Cavilon No Sting 3ml Barr,105,94,-0.104762
...,...,...,...,...
11582,nSpire PiKo-1 Stnd Range Peak Flow Meter,2,1,-0.500000
11583,nSpire Pocket Peak Low Range Peak Flow M,2,4,1.000000
11584,nSpire Pocket Peak Stnd Range Peak Flow,2,5,1.500000
11585,oraNurse_Toothpaste Orig (1450ppm),2,4,1.000000
11586,palmdoc (Reagent)_Strips,3,5,0.666667

In [32]:
scripts16.columns=['bnf_name','scripts16_count']

In [33]:
scripts17.columns=['bnf_name','scripts17_count']

In [35]:
joined = scripts16.merge(scripts17,on='bnf_name',how='inner')

In [26]:
scripts17=scripts17[['bnf_name','scripts17_count']]

In [32]:
scripts16 = scripts16.merge(scripts17,on='bnf_name',how='right').fillna(0)[['bnf_name','scripts16_count']]

In [34]:
joined=scripts17.merge(scripts16, on='bnf_name', how='inner')

In [37]:
joined['growth_rate']=(joined['scripts17_count']-joined['scripts16_count'])/joined['scripts16_count']

In [19]:
#joined.sort_values('growth_rate',ascending=False)

NameError: name 'joined' is not defined

In [43]:
joined = joined[joined['scripts16_count']>=50]

In [36]:
[(i[1],i[4],i[3]) for i in joined.sort_values('growth_rate',ascending=False).itertuples()][:50]

[('Vensir XL_Cap 225mg', 92.0, 1),
 ('Fludroxycortide_Tape 7.5cm x 20cm', 52.0, 2),
 ('Tamiflu_Cap 75mg', 43.0, 1),
 ('Enstilar_Foam Aero 50mcg/0.5mg/g', 27.125, 8),
 ('Memantine HCl_Orodisper Tab 10mg S/F', 27.0, 1),
 ('AproDerm Colloidal Oat Crm 500ml', 27.0, 1),
 ('Thealoz Duo Sod Hyaluronate Eye Dps 10ml', 23.333333333333332, 3),
 ('Imuvac_Vac 0.5ml Pfs', 22.25, 4),
 ('Diazepam_Oral Susp 2mg/5ml', 21.0, 1),
 ('Memantine HCl_Orodisper Tab 20mg S/F', 20.0, 1),
 ('Influenza_Vac Inact 0.5ml Pfs', 16.681818181818183, 22),
 ('Oseltamivir Phos_Cap 75mg', 15.857142857142858, 7),
 ('Spiroco XL_Tab 4mg', 14.0, 1),
 ('Prednisolone_Tab 30mg', 14.0, 1),
 ('Amoxil_Cap 500mg', 12.4, 5),
 ('Influvac Sub-Unit_Vac 0.5ml Pfs', 12.0, 1),
 ('Ticagrelor_Tab 60mg', 12.0, 1),
 ('Isomol Gel 500g', 11.5, 2),
 ('Lisdexamfetamine_Cap 40mg', 11.0, 1),
 ('Octenilin Wound Gel 20ml Wound Dress H/G', 10.0, 1),
 ('ClearFilm 6cm x 7cm VP Adh Film Dress', 10.0, 1),
 ('Fluarix Tetra_Vac 0.5ml Pfs', 10.0, 2),
 ('Calci-D_Tab Chble 1g/1 000u', 9.666666666666666, 3),
 ('Calcipotriol/Betameth_Foam 50mcg/0.5mg/g', 9.444444444444445, 9),
 ('Entresto_Tab 24mg/26mg', 9.0, 1),
 ('Peptamen_Dripac-Flex Liq (Unflav)', 9.0, 1),
 ('Co-Phenotrope_Tab 2.5mg/25mcg', 9.0, 1),
 ('Cilique_Tab', 8.75, 4),
 ('BD Viva Needles Pen Inj Screw On 5mm/31', 8.6, 5),
 ('Sondate XL_Tab 200mg', 8.5, 2),
 ('Hollister_Conform 2 Maxi Closed Pouch +', 8.0, 1),
 ('Tacalcitol_Lot 4mcg/1g', 8.0, 1),
 ('Entresto_Tab 49mg/51mg', 8.0, 1),
 ('Enzira_Vac Inact 0.5ml Pfs', 8.0, 1),
 ('Peak_Uromate Urost Pouch Transpt Lge S/H', 8.0, 1),
 ('Spiroco XL_Tab 2mg', 8.0, 1),
 ('AproDerm Emollient Crm 450g', 7.75, 4),
 ('Foodlink_Complete Food Drink+Fibre (Van)', 7.0, 2),
 ('Brivaracetam_Tab 50mg', 7.0, 1),
 ('KerraFoam Gentle Border 10cm x 20cm Woun', 7.0, 1),
 ('Isomol Gel 100g', 7.0, 1),
 ('Activa Leg Ulcer Hose Kit Ex Exlge Stkn', 7.0, 1),
 ('Bism Subsalic_Tab 262.5mg Chble S/F', 7.0, 1),
 ('Sacubitril/Valsartan_Tab 49mg/51mg', 6.6, 5),
 ('Elvanse_Cap 40mg', 6.333333333333333, 3),
 ('Salbut/Ipratrop_NebSoln 2.5/.5/2.5ml Amp', 6.0, 1),
 ('Hollister_Conform 2 Midi Closed Pouch +', 6.0, 1),
 ('Lido HCl_Inj 2% 20ml Amp', 6.0, 1),
 ('Bard HydroSil Go Intermit Fle Nelaton 10', 6.0, 2),
 ('Dansac_Nova 2 Flng 43mm P/Cut 30mm', 6.0, 1)]

In [44]:
script_growth=[(i[1],i[4],i[2]) for i in joined.sort_values('growth_rate',ascending=False).itertuples()][:50]+[(i[1],i[4],i[3]) for i in joined.sort_values('growth_rate').itertuples()][:50]
script_growth.sort(key=lambda x:x[1] ,reverse=True)
script_growth

[('Butec_Transdermal Patch 5mcg/hr', 3.467741935483871, 62),
 ('Butec_Transdermal Patch 10mcg/hr', 3.0, 69),
 ('Fostair NEXThaler_Inh 200mcg/6mcg (120D)', 1.430232558139535, 86),
 ('Pneumococcal_Vac 0.5ml Vl (23 Valent)', 1.2694300518134716, 193),
 ('Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev', 1.2692307692307692, 52),
 ('Trulicity_Inj 1.5mg/0.5ml Pf Pen', 1.1851851851851851, 54),
 ('CosmoCol_Paed Oral Pdr Sach 6.9g', 1.1774193548387097, 62),
 ('Dulaglutide_Inj 1.5mg/0.5ml Pf Dev', 0.9634146341463414, 82),
 ('ViATIM_Vac D/Chamber 160u/25mcg 1ml Pfs', 0.912, 125),
 ('Empagliflozin_Tab 25mg', 0.896, 125),
 ('CareSens Lancets 0.31mm/30 Gauge', 0.8955223880597015, 67),
 ('Fostair_Inh 200mcg/6mcg (120D) CFF', 0.8616600790513834, 253),
 ('Orbis Nor Saline Sod Chlor 0.9% Nsl Dps', 0.8588235294117647, 85),
 ('Umeclidinium Brom_Inh 65mcg (30D)', 0.8275862068965517, 87),
 ('Ultibro Breezhaler_Pdr Inh Cap + Dev', 0.8016528925619835, 121),
 ('Medihoney_Barrier Crm', 0.7840909090909091, 88),
 ('Fluoxetine HCl_Oral Soln 20mg/5ml S/F', 0.7808219178082192, 73),
 ('TEE2 (Reagent)_Strips', 0.7777777777777778, 81),
 ('Zaluron XL_Tab 400mg', 0.7586206896551724, 58),
 ('Laxido_Paed Plain Oral Pdr Sach 6.9g', 0.7586206896551724, 174),
 ('Prednisolone_Oral Soln 5mg/5ml Ud', 0.726027397260274, 73),
 ('Buprenorphine_Patch 15mcg/hr (7day)', 0.7155963302752294, 109),
 ('Coloplast_SenSura Mio Maxi Drnbl Bag S/C', 0.7037037037037037, 81),
 ('Octenisan_Antimicrobial Wsh Lot', 0.7027027027027027, 74),
 ('Duaklir Genuair_340mcg/12mcg (60D)', 0.6710526315789473, 152),
 ('Sod Chlor_Inh Soln 0.9% 2.5ml Ud Amp', 0.6419753086419753, 162),
 ('Coloplast_SenSura Mio Maxi Drnbl Bag L/C', 0.6274509803921569, 51),
 ('Flutiform_Inha 50/5mcg (120 D)', 0.625, 88),
 ('Ins Degludec_100u/ml 3ml Pf Pen', 0.6166666666666667, 60),
 ('CareSens Lancets 0.36mm/28 Gauge', 0.6111111111111112, 90),
 ('Epimax Crm 500g', 0.61, 100),
 ('Evacal D3_Tab Chble 400u/1.5g', 0.6046511627906976, 86),
 ('Shortec_Cap 20mg', 0.6029411764705882, 68),
 ('Co-Trimoxazole_Oral Susp 40/200mg/5mlS/F', 0.6, 50),
 ('Ciprofloxacin_Gran For Susp 250mg/5ml', 0.5921052631578947, 76),
 ('AgaMatrix Ultra-Thin Lancets 0.35mm/28 G', 0.5660377358490566, 53),
 ('Zemtard 120 XL_Cap 120mg', 0.5636363636363636, 55),
 ('Nutramigen 2 + LGG_Pdr', 0.5604395604395604, 91),
 ('Toujeo_300u/ml 1.5ml Pf SoloStar Pen', 0.5408805031446541, 159),
 ('Ins Tresiba_FlexTouch 100u/ml 3ml Pf Pen', 0.5405405405405406, 148),
 ('Longtec_Tab 30mg M/R', 0.5370370370370371, 108),
 ('Adalat_Cap 5mg', 0.5365853658536586, 82),
 ('Dexameth_Oral Soln 2mg/5ml S/F', 0.5294117647058824, 68),
 ('Haloperidol_Inj 5mg/ml 1ml Amp', 0.5288461538461539, 104),
 ('Lyclear_Dermal Crm 5%', 0.5211267605633803, 71),
 ('Valupak_Multivit & Mineral Tab OAD', 0.5098039215686274, 51),
 ('Coloplast_Sensura Mio Maxi Clsd Bag + Fl', 0.5056179775280899, 89),
 ('Medikinet XL_Cap 10mg', 0.48484848484848486, 99),
 ('Dovobet_Gel Applic', 0.48148148148148145, 54),
 ('Incruse Ellipta_Inh 55mcg (30D)', 0.4807692307692308, 208),
 ('Oxycodone HCl_Tab 20mg M/R', -0.4318181818181818, 150),
 ('Cardura XL_Tab 4mg', -0.43478260869565216, 39),
 ('Oxycodone HCl_Tab 80mg M/R', -0.4358974358974359, 44),
 ('Verapamil HCl_Cap 120mg M/R', -0.43790849673202614, 86),
 ('Topamax_Tab 100mg', -0.45161290322580644, 34),
 ('Opticrom_Allergy Eye Dps 2%', -0.4523809523809524, 69),
 ('Optilast_Eye Dps 0.05%', -0.45454545454545453, 30),
 ('Actonel_Once a Week Tab 35mg', -0.4576271186440678, 32),
 ('Premique_Tab 0.625mg/5mg', -0.47039473684210525, 161),
 ('Sunsense_Daily Face Crm Spf 50+', -0.48344370860927155, 78),
 ('Hydrocort/Crotamiton_Crm 0.25%/10%', -0.48936170212765956, 72),
 ('Azelastine HCl_Aq Eye Dps 0.05%', -0.5036231884057971, 137),
 ('Opticrom_Eye Dps 2% (Aq)', -0.5073891625615764, 100),
 ('Metoprolol Tart_Tab 200mg M/R', -0.509090909090909, 27),
 ('Rapitil_Eye Dps 2%', -0.5096774193548387, 76),
 ('Desloratadine_Oral Soln 2.5mg/5ml S/F', -0.5147058823529411, 66),
 ('Erythromycin_Ethylsuc Tab 500mg', -0.5154639175257731, 47),
 ('Aquacel Foam Adhesive 8cm x 8cm Wound Dr', -0.5294117647058824, 32),
 ('Zirtek_Allergy Tab 10mg', -0.5303030303030303, 31),
 ('Antaz Sulf/Xylomet_Eye Dps 0.5%/0.05%', -0.5454545454545454, 30),
 ('Vital 1.5kcal_Liq (Vanilla)', -0.5466666666666666, 34),
 ('Oxybutynin HCl_Oral Soln 2.5mg/5ml S/F', -0.5573770491803278, 27),
 ('Prazosin HCl_Tab 500mcg', -0.5581395348837209, 38),
 ('Artificial Saliva_Spy 50ml', -0.5586854460093896, 94),
 ('Sunsense_Ultra Lot Spf 50+', -0.5652173913043478, 160),
 ('Telfast 120_Tab 120mg', -0.5698924731182796, 40),
 ('Otrivine-Antistin_Eye Dps', -0.572463768115942, 59),
 ('Fexofenadine HCl_Tab 30mg', -0.5959595959595959, 120),
 ('Mag Trisil_Mix', -0.6119402985074627, 26),
 ('Glibenclamide_Tab 5mg', -0.6164383561643836, 56),
 ('Co-Danthrusate_Cap 50mg/60mg', -0.6296296296296297, 30),
 ('Ketotifen Fumar_Eye Dps 250mcg/ml', -0.6842105263157895, 18),
 ('Uvistat_Sun Crm Spf 50', -0.6917293233082706, 41),
 ('Haelan_Tape 7.5cm x 50cm', -0.7130434782608696, 33),
 ('Haelan_Tape 7.5cm x 20cm', -0.72, 28),
 ('Beconase_Hayfever Nsl Spy 50mcg (180 D)', -0.7384615384615385, 17),
 ('Uvistat_Sun Crm Spf 30', -0.7647058823529411, 16),
 ('Deep Freeze_Cold Gel 2%', -0.7758620689655172, 13),
 ('Adizem-SR_Tab 120mg', -0.8269230769230769, 9),
 ('Anugesic HC_Crm', -0.8541666666666666, 14),
 ('Sunsense_Sunsensitive Crm SPF 50+', -0.8562091503267973, 22),
 ('Hepatyrix_Vac 1440u/25mcg/ml 1ml Pfs', -0.875, 27),
 ('Climagest_Tab 2mg', -0.8939393939393939, 7),
 ('Climaval_Tab 2mg', -0.9015151515151515, 13),
 ('Orphenadrine HCl_Tab 50mg', -0.9117647058823529, 9),
 ('Hydroxyzine HCl_Oral Soln 10mg/5ml', -0.9148936170212766, 8),
 ('Ovysmen_Tab', -0.9253731343283582, 5),
 ('Climaval_Tab 1mg', -0.9264705882352942, 10),
 ('Climesse_Tab', -0.9420289855072463, 4),
 ('Polyalc_Eye Dps 1.4%', -0.9963235294117647, 1)]

In [74]:
script_growth = [(i[1],i[4],i[3]) for i in joined.sort_values('growth_rate',ascending=False).itertuples()][:50]+[(i[1],i[4],i[3]) for i in joined.sort_values('growth_rate').itertuples()][:50]

In [45]:
grader.score.dw__script_growth(script_growth)

==================
Your score: 1.000
==================

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [10]:
import pandas as pd
import numpy as np
scripts=pd.read_csv('./dw-data/201701scripts_sample.csv.gz')

In [174]:
scripts.nunique()

practice      856
bnf_code     1975
bnf_name    13471
items         743
nic         44989
act_cost    54048
quantity    12361
dtype: int64

In [149]:
#rare_codes.index
scripts[['bnf_code','rare']][ scripts['rare']==True]['bnf_code'].nunique()
#rates

844

In [11]:
p = (1.0/scripts['bnf_code'].nunique())
rates = (scripts['bnf_code'].value_counts()/scripts['bnf_code'].count())
rare_codes = rates[rates<0.1*p]
#rare_codes.shape
scripts['rare'] = scripts['bnf_code'].isin(rare_codes.index)

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [31]:
#scripts[scripts['rare']==True].groupby('practice')['act_cost'].sum()
rare_cost_prop = scripts[scripts['rare']].groupby('practice')['act_cost'].sum()/scripts.groupby('practice')['act_cost'].sum()
rare_cost_prop

practice
A81005    0.012017
A81007    0.008381
A81011    0.005116
A81012    0.013747
A81017    0.007359
            ...
Y05570         NaN
Y05583         NaN
Y05597         NaN
Y05660    0.000323
Y05670         NaN
Name: act_cost, Length: 856, dtype: float64

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [39]:
#relative_rare_cost_prop = (rare_cost_prop - scripts[scripts['rare']==True]['act_cost'].sum()/scripts['act_cost'].sum())
relative_rare_cost_prop

practice
A81005   -0.003946
A81007   -0.007582
A81011   -0.010847
A81012   -0.002216
A81017   -0.008604
            ...
Y05570         NaN
Y05583         NaN
Y05597         NaN
Y05660   -0.015640
Y05670         NaN
Name: act_cost, Length: 856, dtype: float64

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [38]:
standard_errors = relative_rare_cost_prop.std()

standard_errors

0.06353378513687823

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(practice_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [62]:
rare_scores = relative_rare_cost_prop/standard_errors

In [70]:
rare_scores.reset_index()
#[rare_scores.index().isin(rare_codes.index())]#.reset_index()

    practice  act_cost
0     A81005 -0.062111
1     A81007 -0.119342
2     A81011 -0.170728
3     A81012 -0.034872
4     A81017 -0.135420
..       ...       ...
851   Y05570       NaN
852   Y05583       NaN
853   Y05597       NaN
854   Y05660 -0.246167
855   Y05670       NaN

[856 rows x 2 columns]

In [55]:
practice_names=practices.groupby('code')[['name']].first()

In [78]:
rare_scores=rare_scores.reset_index().merge(practice_names,left_on='practice',right_on='code',how='left').sort_values('act_cost',ascending=False)

In [80]:
rare_scores

    practice   act_cost                                 name
765   Y03472  15.488407             CONSULTANT DIABETES TEAM
831   Y05320  14.408360       DMC COMMUNITY DERMATOLOGY RBWF
793   Y04404   7.183052    OUTPATIENTS JUBILEE HEALTH CENTRE
766   Y03484   6.940271     DMC COMMUNITY DERMATOLOGY CLINIC
794   Y04424   6.513022                       DMC HEALTHCARE
..       ...        ...                                  ...
850   Y05566        NaN                       HHCIC EAST WIC
851   Y05570        NaN         OLDHAM 7 DAY ACCESS HUB3 OOH
852   Y05583        NaN                   CYPS - ACORN HOUSE
853   Y05597        NaN  WORKING AGE ADULTS - ST OWEN STREET
855   Y05670        NaN     SUNDERLAND NORTH EXTENDED ACCESS

[856 rows x 3 columns]

In [82]:
rare_scripts

[('Y03472', 'CONSULTANT DIABETES TEAM', 15.488406625215609),
 ('Y05320', 'DMC COMMUNITY DERMATOLOGY RBWF', 14.408360263244049),
 ('Y04404', 'OUTPATIENTS JUBILEE HEALTH CENTRE', 7.183051624616913),
 ('Y03484', 'DMC COMMUNITY DERMATOLOGY CLINIC', 6.94027129350587),
 ('Y04424', 'DMC HEALTHCARE', 6.513021887657125),
 ('Y00631', 'BINGLEY DERMATOLOGY CLINIC', 5.481949563579427),
 ('A89038', 'BARMSTON MEDICAL CENTRE', 5.395227692877738),
 ('Y01696', 'BASSETLAW HOSPICE OF THE GOOD SHEPHERD', 4.086401965874138),
 ('Y03699', 'OLDHAM DERMATOLOGY SERVICE', 3.9083612233045373),
 ('Y02045', 'VERNOVA HEALTHCARE CIC', 3.029278875457491),
 ('Y02823', 'DMC VICARAGE LANE', 2.9087122950668833),
 ('Y00997', 'COMMUNITY DERMATOLOGY SERVICE', 2.8744326765475274),
 ('Y05019', 'OLDHAM TOTAL SKIN SERVICE', 2.5950238325625326),
 ('Y01003', 'BURY OOH', 2.2385300542366964),
 ('Y05431', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 1.9401676755986765),
 ('Y03557', 'IPU 10-17 RECOVERY COVENTRY', 1.9337780557880855),
 ('Y05419', 'WEEKEND WORKING EASINGTON NORTH', 1.9075976453613963),
 ('Y05434', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 1.5407899736209778),
 ('L84042', 'LONDON MEDICAL PRACTICE', 1.5276438379006312),
 ('Y04871', 'LEARNING ASSESSMENT & NEUROCARE BURY', 1.3722198959202228),
 ('Y05432', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 1.2430603789392323),
 ('F86057', 'THE WILLOWS PRACTICE', 1.2199688533037305),
 ('L81673', 'BCH DERMATOLOGY SERVICE', 1.2171032677439781),
 ('Y04089', "VIRGINCARE STOCKTON LLP(M'BORO)", 1.1481868452872808),
 ('Y03762', 'BASSETLAW HEALTH PARTNERSHIP', 1.0997894858817119),
 ('Y05430', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 1.0693048779455752),
 ('B85030', 'SCRIVINGS CLECKHEATON HLTH CTR', 1.0509636815289396),
 ('P81736', 'WHITEFIELD HEALTHCARE', 1.0418738998166606),
 ('Y00570', 'TOLWORTH HOSPITAL GP DERM SERV', 1.001496149473522),
 ('Y04606', 'LANCASTER HOUSE CONTINENCE', 0.9836766439848758),
 ('P81712', 'DARWEN HEALTH CENTRE', 0.9796583738526915),
 ('Y05433', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 0.9788666054047578),
 ('Y02943', 'NEUROLOGY LONG TERM CONDITIONS', 0.9120977204922354),
 ('P84051', 'EASTLANDS MEDICAL CENTRE', 0.8638524048271157),
 ('Y02203', 'EASINGTON DERMATOLOGY CLINIC', 0.8410229946306337),
 ('G82704', 'THE CHURCH VIEW PRACTICE', 0.8274535514990962),
 ('F81070', 'GRAFTON SURGERY', 0.8063271355343021),
 ('Y05435', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 0.7852638328907537),
 ('P82625', 'CHARLOTTE STREET SURGERY', 0.7370021358206574),
 ('P82640', 'AL FAL MEDICAL GROUP', 0.6846684122334249),
 ('F84706', 'DR SKS SWEDAN', 0.6845702258326017),
 ('Y01168', 'COMMUNITY GYNAECOLOGY SERVICE', 0.6479053374582235),
 ('N81080', 'NORTHGATE MEDICAL CENTRE', 0.6344471769451618),
 ('A87022', 'NORTHUMBERLAND PARK MEDICAL GROUP', 0.608321308122247),
 ('B83058', 'THE AVICENNA MEDICAL PRACTICE', 0.5691092133975985),
 ('M85766', 'BALSALL HEATH HEALTH CENTRE (S)', 0.5363331839982968),
 ('G81658', 'THE STATION PRACTICE', 0.5078032948927588),
 ('M85715', 'SOHO ROAD PRIMARY CARE CENTRE', 0.5040299802531903),
 ('E85659', 'DR RK KUKAR  PARKVIEW CTR FOR H&W', 0.4975828802662012),
 ('M85716', "DR KHUROO'S PRACTICE", 0.48164948680936215),
 ('B83067', 'THE SPRINGFIELD SURGERY (BINGLEY)', 0.4776065933008361),
 ('B84011', 'CHURCH LANE SURGERY', 0.4734826845374893),
 ('B83032', 'BRADFORD MOOR PRACTICE', 0.46152954161610066),
 ('Y00469', "DR MA SIMS' PRACTICE", 0.45789900706039705),
 ('H81034', 'MADEIRA MEDICAL', 0.45090494444071844),
 ('A83071', 'THE NEW SEAHAM MEDICAL GROUP', 0.42793824440133227),
 ('P91633', 'GROVE MEDICAL PRACTICE', 0.39515533386583357),
 ('P84032', 'DR MOKASHI', 0.3944045133251927),
 ('F84086', 'DR N DRIVER & PARTNERS', 0.39058291612922563),
 ('C83041', 'THE WOODLAND MEDICAL PRACTICE', 0.38227931189341297),
 ('G82162', 'RAINHAM HEALTHY LIVING CENTRE', 0.3751679677645814),
 ('A83051', 'MARLBOROUGH SURGERY', 0.3598388588558007),
 ('C84714', 'SUNRISE MEDICAL PRACTICE (GHATTAORA)', 0.34449318211737373),
 ('B82016', 'EAST PARADE SURGERY', 0.33883171939130746),
 ('C84691', 'HIGHGREEN PRACTICE (KHAN)', 0.32701379588610124),
 ('L82001', 'LANDER MEDICAL PRACTICE', 0.316532868503777),
 ('G84027', 'ELM HOUSE SURGERY', 0.31421268680566483),
 ('Y02957', 'LEWISHAM GP LED HEALTH CENTRE', 0.30891220082649823),
 ('G85095', 'MANOR PLACE SURGERY', 0.30321653280864397),
 ('E82656', 'CASSIO SURGERY - E82656', 0.2951501001725924),
 ('M91017', 'NORTHGATE MEDICAL CENTRE', 0.29428502248422594),
 ('L84008', "ST.GEORGE'S SURGERY", 0.2886265612090039),
 ('P81099', 'DR THM MACKENZIE & PARTNERS', 0.285631945522779),
 ('E85018', "DR SOOD'S PRACTICE", 0.2753473776200519),
 ('Y04951', 'ARDEN HEALTHCARE CENTRE', 0.27500134277938015),
 ('N82051', 'BREEZE HILL - SSP HEALTH LIMITED', 0.2671151957154904),
 ('H81097', 'RIVER WEY MEDICAL PRACTICE', 0.26590061639548956),
 ('C82667', 'THE CHARNWOOD PRACTICE', 0.2573650409799158),
 ('C87622', 'THE GATE', 0.25377223877616933),
 ('E85723', 'NORTHOLT FAMILY PRACTICE', 0.2526499868183922),
 ('C84013', 'BRIDGEGATE AND TALL TREES PARTNERSHIP', 0.25111582834622836),
 ('E85126', 'GREEN PRACTICE', 0.24972741528173217),
 ('P92024', 'THE CHANDLER SURGERY', 0.24811237617584683),
 ('Y01929', 'TRINITY HEALTHCARE PARTNERSHIP', 0.24467104568126455),
 ('K82078', 'DR ALLAN AND PARTNERS', 0.24129478791599204),
 ('M85068', 'THE VESEY PRACTICE', 0.2396060051026654),
 ('G85034', 'PRINCESS STREET GROUP PRACTICE', 0.23601293662536965),
 ('P88023', 'HEALD GREEN HEALTH CENTRE 2', 0.23063866441284706),
 ('M83629', 'DRAYTON ROAD SURGERY', 0.22249341073890616),
 ('M83063', 'NORTON CANES HEALTH CENTRE', 0.22181284015734198),
 ('H81615', 'FARNHAM DENE MEDICAL PRACTICE', 0.22135727440927194),
 ('D81024', 'THOMAS WALKER', 0.21348194803802323),
 ('K83051', 'WEAVERS MEDICAL', 0.211440318812327),
 ('G85134', 'THE LISTER PRIMARY CARE CENTRE', 0.20771800046403371),
 ('Y00278', 'DARLASTON HEALTH CENTRE-KHAN', 0.20217653177218228),
 ('Y02671', 'THE PRACTICE HEART OF HOUNSLOW', 0.19886723545681048),
 ('F84631', 'DR PI ABIOLA', 0.19561198346329434),
 ('B81012', 'DR AP KUMAR', 0.19399271110094568),
 ('C83613', 'CAISTOR HEALTH CENTRE', 0.1938114176223193),
 ('M91614', 'STROUD PRACTICE', 0.19095905723975837)]

In [81]:
rare_scripts = [(i[1],i[3],i[2]) for i in rare_scores.itertuples()][:100]

In [83]:
grader.score.dw__rare_scripts(rare_scripts)

==================
Your score: 0.930
==================

*Copyright &copy; 2021 WorldQuant University. This content is licensed solely for personal use. Redistribution or publication of this material is strictly prohibited.*