In [174]:
%logstop
%logstart -rtq ~/.logs/dw.py append
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [3]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [4]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

--2020-11-08 16:52:54--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.217.83.36
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.217.83.36|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19011654 (18M) [text/csv]
Saving to: ‘./dw-data/201701scripts_sample.csv.gz’

201701scripts_sampl 100%[===================>]  18.13M  35.7MB/s    in 0.5s

2020-11-08 16:52:54 (35.7 MB/s) - ‘./dw-data/201701scripts_sample.csv.gz’ saved [19011654/19011654]

--2020-11-08 16:52:55--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.216.107.148
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.216.107.148|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18768259 (18M) [text/csv]
Saving to: ‘./dw-data/201606scripts_sample.csv.gz’

201606scripts_sampl 100%[===================>]  17.90M  38.1MB/s    in 0.5s

2020-11-08 16:52:55 (38.1 MB/s) - ‘./dw-data/201606scripts_sample.csv.gz’ saved [18768259/18768259]

--2020-11-08 16:52:55--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.217.83.36
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.217.83.36|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 333225 (325K) [application/x-gzip]
Saving to: ‘./dw-data/practices.csv.gz’

practices.csv.gz    100%[===================>] 325.42K  --.-KB/s    in 0.006s

2020-11-08 16:52:55 (55.1 MB/s) - ‘./dw-data/practices.csv.gz’ saved [333225/333225]

--2020-11-08 16:52:56--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.216.107.148
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.216.107.148|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31829 (31K) [application/x-gzip]
Saving to: ‘./dw-data/chem.csv.gz’

chem.csv.gz         100%[===================>]  31.08K  --.-KB/s    in 0.001s

2020-11-08 16:52:56 (26.5 MB/s) - ‘./dw-data/chem.csv.gz’ saved [31829/31829]

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [4]:
import pandas as pd
import numpy as np
import gzip

In [5]:
pd.__version__

'0.25.0'

In [199]:
# load the 2017 data
scripts = pd.read_csv("./dw-data/201701scripts_sample.csv.gz", compression = 'gzip')
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [7]:
col_names = [ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
practices = pd.read_csv("./dw-data/practices.csv.gz", names = col_names, compression = 'gzip')
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [8]:
chem = pd.read_csv("./dw-data/chem.csv.gz", compression = 'gzip')
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [29]:
scripts.describe()

               items            nic       act_cost       quantity
count  973193.000000  973193.000000  973193.000000  973193.000000
mean        9.133136      73.058915      67.986613     741.329835
std        29.204198     188.070257     174.401703    3665.426958
min         1.000000       0.000000       0.040000       0.000000
25%         1.000000       7.800000       7.330000      28.000000
50%         2.000000      22.640000      21.220000     100.000000
75%         6.000000      65.000000      60.670000     350.000000
max      2384.000000   16320.000000   15108.320000  577720.000000

In [55]:
names = scripts.columns.to_list()[3:]
stats_list = [scripts.describe()[name].to_list() for name in names]

In [59]:
summary_stats = [(col, tuple([stats[0]*stats[1]] + stats[1:3] + stats[4:7])) for col, stats in zip(names, stats_list)]

In [53]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score:  1.0
==================

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [95]:
bnf_items = scripts.groupby('bnf_name')['bnf_name', 'items'].sum()
most_common_item = [tuple(bnf_items.sort_values(by='items', ascending=False).reset_index().iloc[0])]

In [96]:
most_common_item

[('Omeprazole_Cap E/C 20mg', 218583)]

In [94]:
grader.score.dw__most_common_item(most_common_item)

==================
Your score:  1.0
==================

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [51]:
#First, we'll pick the alphabetically first postal code for each practice

#Retrieve list of post codes associated with each practice
post_codes_per_practice = practices.groupby('code').agg({'post_code': [list, 'count']}).sort_values(by = ('post_code', 'count'), ascending=False)
post_codes_per_practice.head(6)

                                       post_code
                                            list count
code
Y04804  [TR15 3ER, TR15 3ER, TR15 3ER, TR15 3ER]     4
F81223      [SS9 5UU, SS9 5UU, SS9 5UU, SS9 5UU]     4
J82024  [SO14 0YG, SO14 0YG, SO16 4XE, SO16 4XE]     4
D81631      [PE1 3BF, PE1 3BF, PE1 3BF, PE1 3BF]     4
B85060      [HD1 5PX, HD1 5PX, HD1 5PX, HD1 5PX]     4
Y04108   [SW19 1RH, SW1E 6QP, SW1E 6QP, SW6 4UL]     4

In [52]:
#Select alphabetically first post code for each practice
first_post_per_practice = pd.DataFrame(post_codes_per_practice[('post_code', 'list')].apply(lambda row : sorted(row)[0]).rename('post_code'))
first_post_per_practice.head()

       post_code
code
Y04804  TR15 3ER
F81223   SS9 5UU
J82024  SO14 0YG
D81631   PE1 3BF
B85060   HD1 5PX

In [53]:
joined = pd.merge(scripts, first_post_per_practice, left_on='practice', right_on='code')[['practice', 'bnf_name', 'items', 'post_code']]
joined.head()

  practice                              bnf_name  items post_code
0   N85639                 Bisacodyl_Tab E/C 5mg      1  CH44 5UF
1   N85639      Movicol Plain_Paed Pdr Sach 6.9g      1  CH44 5UF
2   N85639    Salbutamol_Inha 100mcg (200 D) CFF      1  CH44 5UF
3   N85639  Chlorphenamine Mal_Oral Soln 2mg/5ml      1  CH44 5UF
4   N85639                      Diazepam_Tab 2mg      1  CH44 5UF

In [54]:
items_per_post = joined.groupby(['post_code','bnf_name']).sum().sort_values(by='items', ascending=False).reset_index()
items_per_post = items_per_post.groupby('post_code').agg({'bnf_name': list, 'items':list})
items_per_post.head()

,bnf_name,items
post_code,,
B11 4BW,"[Salbutamol_Inha 100mcg (200 D) CFF, Paracet_T...","[706, 451, 387, 385, 350, 283, 249, 224, 211, ..."
B12 9LP,"[Paracet_Tab 500mg, Lansoprazole_Cap 30mg (E/C...","[425, 379, 366, 339, 261, 216, 212, 202, 201, ..."
B18 7AL,"[Salbutamol_Inha 100mcg (200 D) CFF, Metformin...","[556, 421, 416, 404, 348, 302, 268, 256, 242, ..."
B21 9RY,"[Metformin HCl_Tab 500mg, Salbutamol_Inha 100m...","[1033, 706, 675, 642, 596, 560, 515, 507, 430,..."
B23 6DJ,"[Lansoprazole_Cap 30mg (E/C Gran), Aspirin Dis...","[599, 449, 434, 415, 368, 360, 340, 337, 263, ..."

In [55]:
most_common_per_post = items_per_post.reset_index()[['post_code','bnf_name','items']].apply(lambda row : (row[0], row[1][0], row[2][0]/sum(row[2])), axis=1)
most_common_per_post.head()

0    (B11 4BW, Salbutamol_Inha 100mcg (200 D) CFF, ...
1    (B12 9LP, Paracet_Tab 500mg, 0.02489310607391788)
2    (B18 7AL, Salbutamol_Inha 100mcg (200 D) CFF, ...
3    (B21 9RY, Metformin HCl_Tab 500mg, 0.033293583...
4    (B23 6DJ, Lansoprazole_Cap 30mg (E/C Gran), 0....
dtype: object

In [56]:
items_by_region = most_common_per_post.to_list()[:100]

In [182]:
grader.score.dw__items_by_region(items_by_region)

==================
Your score:  1.0
==================

In [178]:
#most_common_post = joined.groupby(['post_code','bnf_name']).sum().sort_values(by='items', ascending=False).reset_index().groupby('post_code').head(1)

#most_common_post = most_common_post.set_index('post_code').sort_index()

#total_items = joined.groupby('post_code').sum()

#most_common_post[['proportion_per_post']] = most_common_post[['items']]/total_items

#items_by_region = list([(index, row['bnf_name'], row['proportion_per_post']) for index, row in most_common_post.iterrows()])[:00]

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [12]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [13]:
#Detect drug brand names that contain opioids with 'is_opioid'
chem['is_opioid'] = chem['NAME'].str.contains('|'.join(opioids), case=False).astype(int)

#Flag scripts that correspond to an opioid prescription by adding 'is_opioid' column to scripts
scripts = pd.merge(scripts, chem, left_on='bnf_code', right_on='CHEM SUB', how='left')[scripts.columns.tolist()+['is_opioid']]
scripts['is_opioid'] = scripts['is_opioid'].fillna(0).astype(int)

In [14]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,is_opioid
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,0
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,0
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,0
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,0
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,0

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [15]:
opioids_per_practice = scripts.groupby('practice')['is_opioid'].mean()

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [16]:
relative_opioids_per_practice = opioids_per_practice - scripts['is_opioid'].mean()

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [17]:
standard_error_per_practice = scripts['is_opioid'].std()/np.sqrt(scripts.groupby('practice')['is_opioid'].count())

opioid_scores = (relative_opioids_per_practice/standard_error_per_practice).rename('opioid_score')

In [18]:
opioid_scores.head()

practice
A81005   -0.551807
A81007    1.540186
A81011    2.293528
A81012    1.373723
A81017    0.586611
Name: opioid_score, dtype: float64

In [19]:
#We can notice that some codes are associated with multiple names
practices.groupby('code')['name'].nunique().sort_values(ascending=False).head()

code
D81631    3
Y04804    3
N82051    3
Y00446    3
Y04549    3
Name: name, dtype: int64

In [20]:
#Retrieve the first alphabetically name for each practice code
practice_names = practices.groupby('code')['name'].apply(lambda group: sorted([row for row in group])[0])

In [21]:
#Compute the number of scripts for each practice
scripts_per_practice = scripts.groupby('practice').size().rename('scripts_number')

In [22]:
#Combine each practice name with its opioid score and number of scripts
practice_results = pd.concat([practice_names, opioid_scores, scripts_per_practice], axis=1, join='inner')
practice_results.head()

                             name  opioid_score  scripts_number
A81005         SPRINGWOOD SURGERY     -0.551807            1509
A81007          BANKHOUSE SURGERY      1.540186            1456
A81011          CHADWICK PRACTICE      2.293528            1569
A81012  WESTBOURNE MEDICAL CENTRE      1.373723            1333
A81017        WOODBRIDGE PRACTICE      0.586611            2151

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [23]:
anomalies = sorted([(row[1],row[2],row[3]) for row in practice_results.itertuples()], key=lambda x:x[1], reverse=True)[:100]  
#anomalies = [("NATIONAL ENHANCED SERVICE", 11.6958178629, 7)] * 100

In [24]:
anomalies[:5]

[('NATIONAL ENHANCED SERVICE', 11.700971787589962, 7),
 ('OUTREACH SERVICE NH / RH', 7.342237296165327, 2),
 ('BRISDOC HEALTHCARE SERVICES OOH', 6.154319628928264, 60),
 ('H&R P C SPECIAL SCHEME', 5.126072754058587, 36),
 ('HMR BARDOC OOH', 4.963767331557864, 321)]

In [64]:
grader.score.dw__script_anomalies(anomalies)

==================
Your score:  1.0
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [9]:
scripts16 = pd.read_csv('./dw-data/201606scripts_sample.csv.gz', compression='gzip')

In [131]:
scripts16.head(3)

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85638,0301011R0,Salamol_Inha 100mcg (200 D) CFF (Teva),2,2.92,2.73,2
1,N85638,0301011R0,Easyhaler_Salbutamol Sulf 200mcg (200D),1,6.63,6.15,1
2,N85638,0301020I0,Ipratrop Brom_Inh Soln 500mcg/2ml Ud,1,1.77,1.75,12

In [101]:
#Compute both 2016 and 2017 prescription count for each bnf_name
bnf16 = scripts16.groupby('bnf_name').size().rename('bnf16_count')
bnf17 = scripts.groupby('bnf_name').size().rename('bnf17_count')

In [123]:
#Merge bnf16 and bnf17 data and eliminate occurences with no prescriptions in 2016 or in 2017
bnf = pd.concat([bnf16, bnf17], axis=1, sort=True).dropna(axis=0, how='any')

#Compute the percent growth in prescription rate from 2016 to 2017
bnf['growth_rate'] = (bnf['bnf17_count']-bnf['bnf16_count'])/bnf['bnf16_count']

In [124]:
#Filter out drugs items with less than 50 prescriptions in 2016 and sort items by growth rate
bnf_high_count = bnf[bnf['bnf16_count'] >= 50].sort_values(by='growth_rate', ascending=False)

In [132]:
bnf_high_count.head(3)

,bnf16_count,bnf17_count,growth_rate
Butec_Transdermal Patch 5mcg/hr,62.0,277.0,3.467742
Butec_Transdermal Patch 10mcg/hr,69.0,276.0,3.000000
Fostair NEXThaler_Inh 200mcg/6mcg (120D),86.0,209.0,1.430233

In [127]:
#Retrieve 50 items with largest growth and 50 items with largest shrinkage (high negative growth)
largest_growth = bnf_high_count.head(50)
largest_shrinkage = bnf_high_count.tail(50)

#Combine results into a new DataFrame
growth_anomalies = pd.concat([largest_growth, largest_shrinkage])

In [133]:
#Retrieve results as a list of tuples in format ('bnf_name', 'growth_rate', 'bnf16_count')
script_growth = [(row[0], row[3], row[1]) for row in growth_anomalies.itertuples()]

In [129]:
grader.score.dw__script_growth(script_growth)

==================
Your score:  1.0
==================

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [245]:
scripts = pd.read_csv("./dw-data/201701scripts_sample.csv.gz", compression = 'gzip')

In [246]:
#Compute the uniform probability of randomly chosing a bnf_code from the options available in data
p = 1/scripts['bnf_code'].nunique()

#Compute the rates at which each bnf_code is prescribed
rates = (scripts.groupby('bnf_code').size()/len(scripts)).rename('prescription_rate')

#Find rare bnf_code
rare_codes = rates <= 0.1*p

#Flag scripts prescribing rare bnf_code
scripts.set_index('bnf_code', inplace=True)
scripts['rare'] = pd.DataFrame(rare_codes)

In [247]:
scripts.head(3)

,practice,bnf_name,items,nic,act_cost,quantity,rare
bnf_code,,,,,,,
0106020C0,N85639,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,False
0106040M0,N85639,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,False
0301011R0,N85639,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,False

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [265]:
#Compute the proportion of costs coming from prescriptions with rare bnf_code
practice_rare_cost = scripts[scripts['rare']].groupby('practice')['act_cost'].sum()
practice_total_cost = scripts.groupby('practice')['act_cost'].sum()
practice_rare_cost_prop = (practice_rare_cost/practice_total_cost).fillna(0)

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [269]:
#Compute the proportion of costs coming from rare bnf_code from all practices (Avg. Prop)
total_rare_cost = scripts[scripts['rare']]['act_cost'].sum()
total_cost = scripts['act_cost'].sum()
mean_rare_cost_prop = total_rare_cost/total_cost

relative_rare_cost_prop = practice_rare_cost_prop - mean_rare_cost_prop

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [270]:
standard_error = relative_rare_cost_prop.std()

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [271]:
rare_scores = relative_rare_cost_prop/standard_error

In [274]:
#Retrieve the first alphabetically name for each practice code
practice_names = practices.groupby('code')['name'].apply(lambda group: sorted([row for row in group])[0])

In [280]:
#Combine the z-scores results with their respective practice names and sort scores
practice_scores = pd.concat([rare_scores, practice_names], axis=1, join='inner').sort_values(by='act_cost', ascending=False)

In [282]:
practice_scores.head(3)

         act_cost                               name
Y03472  16.262687           CONSULTANT DIABETES TEAM
Y05320  15.128648     DMC COMMUNITY DERMATOLOGY RBWF
Y04404   7.542139  OUTPATIENTS JUBILEE HEALTH CENTRE

In [283]:
#Retrieve first 100 top z-scores in the form (practice_code, practice_name, z-score)
rare_scripts = [(row[0], row[2], row[1]) for row in practice_scores.itertuples()][:100]

In [285]:
rare_scripts[:3]

[('Y03472', 'CONSULTANT DIABETES TEAM', 16.262687124655073),
 ('Y05320', 'DMC COMMUNITY DERMATOLOGY RBWF', 15.128648195416869),
 ('Y04404', 'OUTPATIENTS JUBILEE HEALTH CENTRE', 7.54213935610462)]

In [286]:
grader.score.dw__rare_scripts(rare_scripts)

==================
Your score:  1.0
==================

*Copyright &copy; 2020 The Data Incubator.  All rights reserved.*